* {
    margin: 10px;
    padding: 0;
}

.catalog {
    display: flex;
    article: {
        margin: 10 px;
    }
    .buy__item {
        height: 25px;
        width: 45px;
        background-color: red;
        text-align: center;
    }
}

.cart {
    // display: flex;
    article {
        margin: 10px;
    }
}